
/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: roboto;
}

body{
    width: 100%;
    height: auto;
    background-image: url(https://wallpapercave.com/wp/1vYb3v7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8%;
    gap: 5px;
    align-items: center;
}


/* Estilo do box do formulário */
.BoxForm{
    height: 60vh;
    width:30vw;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    
}

/* Título do formulário */
h1{ 
    margin-top: 2%;
    font-size: 300%;
    text-align: center;
    color: rgb(52, 96, 131);
    font-family: Dancing Script;
}



/* Para centralizar o formulário e seu tamanho */
.center{
    display: flex;
    justify-content:center ;
    margin-top: 3%;
    row-gap: 500px;
}

/* separar divs box */

.space{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center

}



/* Estilização  da caixa input */

.input{
    width: 97%;
    height: 4vh;
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
    border-radius: 3%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}
.input:hover {
    border: 1px solid rgb(152, 149, 149);
  }

#texto{
    color: rgb(62, 61, 61);
      font-size: 130%;

  }

#opcao{
    color: rgb(62, 61, 61);
      font-size: 110%;
}


/* estilização do butão submit */
.boxSubmit{
    display: flex;
    justify-content:center ;
    margin-top: 8%;
}

button{
height: 5vh; 
width: 10vw;  
color: rgb(48, 48, 48);
background-color: aliceblue;
border: 0px;
cursor: pointer;
border-radius: 0%;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
}

/* box hell */
.hell{
    height: 30vh;
    width:18vw;
    background: rgba(255, 0, 0, 0.279);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);  
    display: flex;
    flex-direction: column;
}


 h2{
    margin-top: 2%;
    font-size: 200%;
    text-align: center;
     font-family: cinzel;
     color: rgb(113, 19, 19);
 }
 
 .frase{
     text-align: center;
     justify-content: center;
     margin-bottom: 2%;
 }

/* box heaven */

.heaven{
    height: 30vh;
    width:18vw;
    background: rgba(20, 142, 180, 0.279);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);  
    display: flex;
    flex-direction: column;
}

h3{
    margin-top: 2%;
    font-size: 170%;
    text-align: center;
     font-family: cinzel;
     color: rgb(27, 111, 170);
 }



/* responsividade */
@media screen and (max-width:768px) {
   
    body{
        width: 100%;
        height: auto;
        background-image: url(https://i.pinimg.com/originals/a0/28/34/a0283447bbfa77eb1be028ac7067c620.jpg);
        flex-direction: column;
    }
   

    .BoxForm{
        margin-top: 28%;
        height: 44vh;
        width:50vw;
    }
    
    h1{ 
        margin-top: 2%;
        font-size: 300%;
    }
    button{
        height: 5vh; 
        width: 18vw;  
        
        }

    .hell{
        height: 20vh;
        width: 22vw;  
    }
    h2{
    font-size: 150%;
    }
    .heaven{
        height: 20vh;
        width:22vw;
    }

}

@media screen and (max-width:391px) {
   
    body{
        width: 100%;
        height: auto;
        background-image: url(https://i.pinimg.com/originals/a0/28/34/a0283447bbfa77eb1be028ac7067c620.jpg);
        background-size: 150%;
        flex-direction: column;
    }
   

    .BoxForm{
        height: 52vh;
        width:75vw;
        margin-top: 38%;
    }
    
    h1{ 
        margin-top: 5%;
        font-size: 200%;
    }
    button{
        height: 5vh; 
        width: 18vw;  
        
        }

    #texto{
        font-size: 120%;
        
    }
        
    #opcao{
        font-size: 100%;
    }

    .hell{
        height: 25vh;
        width: 40vw;  
    }
    h2{
    font-size: 150%;
    }
    .heaven{
        height: 25vh;
        width:40vw;
    }




    
}